body {
	background-color: Thistle;
}

.navbar {
	background-color: white;
}

.navbar-brand {
	/*color: pink; why doesnt it work*/
	margin-left: 20px;
}

.navbar-nav {
	width:  100%;
	display: flex;
	justify-content: space-around;
}

.nav-item {
	text-align: center;
}

main div.container {
	/*background-color: yellow;*/
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container h2 {
	background-color: white;
	font-size: 4vw;
	margin-bottom: 40px;
	padding: 40px;
	border-radius: 25px;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

footer {
	background-color: white;
	position: fixed;
	width: 100%;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 20px;
}

footer .col {
	text-align: left;
}

a:link {
	text-decoration: none;
}

a {
	color: black;
	font-size: 12px;
}

#Kalina {
	font-size: 16px;
	padding-left: 100px;
}

.icon {
	margin-right: 10px;
}